@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  --armadle-icon: url('../assets/armadle.svg');
  --color-background: #8cacd3;
  --settings-cog-color: #222222;

  /* Spacing variables */
  --vertical-spacing-0-5: 4px;
  --horizontal-spacing-0-5: 4px;
  --vertical-spacing-2: 16px;
  --horizontal-spacing-2: 16px;
  --vertical-spacing-1-5: 12px;
  --header-height: 40px;
  --header-toolbar-height: 50px;
  --header-padding-x: var(--horizontal-spacing-2);
  --game-max-width: 500px;

  /* Button styles */
  --bg-btn-primary: #000000;
  --text-btn-primary: #ffffff;

  /* Game tile styles */
  --empty-tile-color: #6f94c4;
  --empty-tile-bg-color: #c3d7ef;
  --selected-tile-bg-color: #d7e5f6;
  --near-tile-color: #c7872f;
  --near-tile-bg-color: #f2d39a;
  --miss-tile-color: #aab7c8;
  --miss-tile-bg-color: #edf2f7;
  --hit-tile-color: #9f2232;
  --hit-tile-bg-color: #ee6b78;
}
